* {
  box-sizing: border-box;
}


main{
  display: flex;
  flex-direction: row;
}

article{
  margin-right: 50px;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0;
  background-image: url('space.jpg');
}

.grid {
  display: flex;
  flex-direction: row;
  border: 1px solid greenyellow;
  width: 1000px;
  height: 700px;
  flex-wrap: wrap;
  background-image: url('spaceEarth.jpg');
  background-size: contain;
}

.lifes{
  display: flex;
  flex-direction: row;
  border: 1px solid grey;
  width: 200px;
  height: 50px;
  flex-wrap: wrap;
}

.cell {
  width: 5%;
  height: 5%;
  /* border: 1px solid green; */
}
.cellLifes {
  width: 33.3333333%;
  height: 50px;
  border: 1px solid green;
}
.invader{
  /* background-color: red; */
  /* background: url('https://api.iconify.design/whh:alienship.svg') no-repeat center center / contain; */
  background-image: url('ufo.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  
}

.ship{
  /* background-color: royalblue; */
  background: url('hero.png') no-repeat center center / contain;
}

.shoot{
  /* background-color: seagreen; */

  background-image: url('laser.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  

}

.bomb{
  /* background-color: red; */
  background-image: url('missile2.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.rightWall {

}
.leftWall {

}

.hidden {
  display: none;
  width: 500px;
  height: 700px;
}

.gameOver{
  display: none;
  width: 1000px;
  height: 890px;
}

h1{
  font-family: 'Londrina Shadow', sans-serif;
  font-size: 80px;
  color: aliceblue;
  text-align: center;
}