* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0
}

.grid {
  display: flex;
  flex-direction: row;
  border: 1px solid grey;
  width: 1000px;
  height: 700px;
  flex-wrap: wrap;
}

.cell {
  width: 5%;
  height: 5%;
  border: 1px solid green;
}

.invader{
  /* background-color: red; */
  background: url('https://api.iconify.design/whh:alienship.svg') no-repeat center center / contain;
}

.ship{
  /* background-color: royalblue; */
  background: url('https://api.iconify.design/si-glyph:space-ship.svg') no-repeat center center / contain;
}

.shoot{
  background-color: seagreen;

  background-image: url('missile2.png');
  background-size: contain;
  background-repeat: no-repeat;
  

}

.bomb{
  background-color: red;
  background-image: url('missile1.png');
  background-size: contain;
  background-repeat: no-repeat;
}

.rightWall {

}
.leftWall {

}